<!DOCTYPE html>
<html>
<head>
  <title>Unshittyblog</title>
  <%= stylesheet_link_tag    "unshittyblog/application", media: "all" %>
  <%= javascript_include_tag "unshittyblog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
