<div class="usb-image-field usb-form-field">
  <div class="usb-image-uploader">
    <%= image_tag '/assets/blogocalypse/spinner.gif', :class => "spinner" %>
    <%= f.file_field :image, :class => "file", :data => { :url => path } %>
  </div>
</div>
