<div class="usb-image-pick">
  <%= image_tag model.image.thumb('200x200#').url, :class => "usb-image-thumbnail" %>
  <%= link_to "Insert", "javascript://", :class => "usb-image-insert", :data => { :id => model.id } %>
  <%= link_to "Delete", @router.image_path(model), :class => "usb-image-delete" %>
</div>
