<div class="usb-image-pick">
  <%= image_tag model.image.thumb('200x200#').url, :class => "usb-image-thumbnail", :alt => model.alt, :title => model.title %>
  <%= link_to "Insert", "javascript://", :class => "usb-image-insert" %>
</div>
