<!DOCTYPE html>
<html>
<head>
  <title>Blogocalypse</title>
  <%= stylesheet_link_tag    "blogocalypse/application", media: "all" %>
  <%= javascript_include_tag "blogocalypse/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
